version: 2.1
executors:
  ubuntu-default:
    machine:
      image: ubuntu-2004:current
    environment:
      VERSION: 1.3.0
      REGISTRY_URL: docker.pkg.dev
      REPO: colibri-api
      GOOGLE_COMPUTE_ZONE: europe-north1
      SERVICE_NAME: colibri-test
      IMAGE_NAME: ${GOOGLE_COMPUTE_ZONE}-docker.pkg.dev/${GOOGLE_PROJECT_ID}/${REPO}/${SERVICE_NAME}:${VERSION}

jobs:
  gcloud:
    executor: ubuntu-default
    steps:
      - run:
          name: Initialize gcloud CLI to connect to Google cloud
          shell: bash
          command: |
            echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
            gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            gcloud --quiet config set project $GOOGLE_PROJECT_ID
          # gcloud --quiet config set compute/zone $GOOGLE_COMPUTE_ZONE
      - run: gcloud run deploy fastapi --region=europe-north1 --image=$IMAGE_NAME --platform=managed --allow-unauthenticated
workflows:
  launch:
    jobs:
      - gcloud
